name: Check Repositories

on:
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight
  workflow_dispatch:  # Allows manual triggering of the workflow

jobs:
  check-repositories:
    uses: Telucero/workflows/.github/workflows/check-repositories.yml@main  # Calling the reusable workflow
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Passing the secret here
